@import "tailwindcss";

@theme {
  --color-primary-red: #d92626;
  --color-primary-darkblue: #0f172a;
  --color-neutral-offwhite: #f8fafc;
  --color-neutral-white: #ffffff;
  --color-text-dark: #333333;
}

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-primary-darkblue);
  background-color: var(--color-neutral-offwhite);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.bungee {
  font-family: "Bungee", cursive;
}
