@import "tailwindcss";

@theme {
  --color-primary-red: #EC2322;
  --color-primary-salmon: #F16B64;
  --color-primary-darkblue: #1C1847;
  --color-neutral-offwhite: #EEE7E6;
  --color-accent-mauve: #AC8798;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-primary-darkblue);
  background-color: var(--color-neutral-offwhite);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

